body {
    background-color: black;
    color: white;
}

#future-weather {
    text-align: center;
}

h1 {
    text-align: center;
}

#search-form {
    text-align: center;
}

#current-weather {
    text-align: center;
}

#search-history {
    justify-content: flex-start;
}
